<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- <include resource="org/springframework/cloud/gcp/logging/logback-json-appender.xml" /> -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />


    <springProfile name="default">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <springProfile name="int">
        <root level="INFO">
            <appender name="STACKDRIVER" class="ch.qos.logback.core.ConsoleAppender">
                <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                <layout class="com.google.cloud.spring.logging.StackdriverJsonLayout">
                    <projectId>${projectId}</projectId>                            
                    <includeTraceId>true</includeTraceId>-->
                    <includeSpanId>true</includeSpanId>
                    <includeLevel>true</includeLevel>
                    <includeThreadName>true</includeThreadName>-->
                    <includeMDC>true</includeMDC>
                    <includeLoggerName>true</includeLoggerName>-->
                    <includeFormattedMessage>true</includeFormattedMessage>
                    <includeExceptionInMessage>true</includeExceptionInMessage>
                    <includeContextName>true</includeContextName>
                    <includeMessage>true</includeMessage>
                    <includeException>true</includeException>
                </layout>
                </encoder>
            </appender>
        </root>
    </springProfile>
</configuration>