<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/cloud/gcp/logging/logback-json-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <root level="INFO">
        <!-- If running in GCP, remove the CONSOLE appender otherwise logs will be duplicated. -->
        <appender name="STACKDRIVER" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.springframework.cloud.gcp.logging.StackdriverJsonLayout">
                <projectId>${projectId}</projectId>
            </layout>
            </encoder>
        </appender>
        <!-- <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.springframework.cloud.gcp.logging.StackdriverJsonLayout">
                <projectId>${projectId}</projectId>
                <!--<includeTraceId>true</includeTraceId>-->
                <!--<includeSpanId>true</includeSpanId>-->
                <!--<includeLevel>true</includeLevel>-->
                <!--<includeThreadName>true</includeThreadName>-->
                <!--<includeMDC>true</includeMDC>-->
                <!--<includeLoggerName>true</includeLoggerName>-->
                <!--<includeFormattedMessage>true</includeFormattedMessage>-->
                <!--<includeExceptionInMessage>true</includeExceptionInMessage>-->
                <!--<includeContextName>true</includeContextName>-->
                <!--<includeMessage>false</includeMessage>-->
                <!--<includeException>false</includeException>-->
                <!--<serviceContext>
                    <service>service-name</service>
                    <version>service-version</version>
                    </serviceContext>-->
                <!--<customJson>{"custom-key": "custom-value"}</customJson>-->
            </layout>
            </encoder>
        </appender> -->
    </root>
</configuration>